/* Body styles */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


/* News article styles */

.newsArticle {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid rgb(251, 0, 0);
    text-align: justify;
}
